/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

/* Estilo del formulario */
form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"], input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: calc(50% - 15px);
    margin: 12px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Estilo de los resultados generales */
#resultado, #resultadoPlazos, #resultadoCapacidadPago {
    font-size: 1.2em;
    margin-top: 15px;
    padding: 15px;
    background-color: #e7f3fe; /* Fondo azul claro */
    border: 1px solid #b3d7ff; /* Borde azul */
    border-radius: 6px;
    color: #31708f; /* Texto azul oscuro */
    text-align: left;
}

/* Resultados de capacidad de pago con colores diferenciados */
#resultadoCapacidadPago.exito {
    background-color: #d4edda; /* Fondo verde claro */
    border-color: #c3e6cb; /* Borde verde */
    color: #155724; /* Texto verde oscuro */
}

#resultadoCapacidadPago.error {
    background-color: #f8d7da; /* Fondo rojo claro */
    border-color: #f5c6cb; /* Borde rojo */
    color: #721c24; /* Texto rojo oscuro */
}

/* Estilo de la tabla de amortización */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #007bff; /* Fondo azul oscuro para encabezados */
    color: white; /* Texto blanco en encabezados */
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Fondo para filas pares */
}

tbody tr:hover {
    background-color: #d1e7fd; /* Fondo al pasar el mouse */
}

/* Estilo responsive */
@media (max-width: 768px) {
    button {
        width: 100%;
        margin: 12px 0;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px; /* Tamaño de texto ajustado para pantallas pequeñas */
    }

    input, select {
        padding: 12px; /* Ajustar el padding */
    }
}