// _fonts.scss

// Tipografía
$font-family-base: 'Arial', sans-serif; // Fuente principal
$font-family-heading: 'Helvetica', sans-serif; // Fuente para encabezados

// Tamaños de fuente
$font-size-base: 16px;     // Tamaño de fuente base
$font-size-large: 24px;    // Tamaño de fuente grande (h1)
$font-size-medium: 20px;   // Tamaño de fuente medio (h2)
$font-size-small: 14px;    // Tamaño de fuente pequeño
